* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: url(../../public/image/pexels-esan-2085998.jpg) no-repeat top rgba(255, 254, 254, 0.537);
    background-size: cover;
}

.morpheme {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
